.loader {
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 100vh;
  z-index: 3;
  inset: 0;
  opacity: 0.9;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-family: shrikhand;
  font-size: 30px;
  animation: chargement 0.2s 3s forwards;
  .text {
    position: absolute;
  }
  .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: grid;
    z-index: 0;
    animation: arc 3s;
  }
}

@keyframes chargement {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
@keyframes arc {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 10px 2px #9356DC;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 10px 2px #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 3px 10px 2px #75edcf;
  }
}
.far {
  margin-right: 0.5rem;
  &:hover {
    transition: all .5s ease-in-out;
    -webkit-background-clip: text;
    font-weight: 900;
    background-image: linear-gradient(#ab74f0, #ca69d4);
    -webkit-text-fill-color: transparent;
  }
}
@keyframes rot {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
ul li:hover {
  transform: scale(1.02);
  transition: transform 0.4s;
  background: #ac74f01c;
}
.repas,
.card {
  &:hover {
    transform: scale(1.03);
    transition: transform 0.7s;
  }
}
.repas {
  &:hover .btn-check {
    margin-right: 0;
    transition: all 0.5s;

    i {
      animation-name: rot;
      animation-duration: 1s;
    }
  }
}
@keyframes apparution {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.categorie {
  animation-name: apparution;
  animation-duration: 2s;
}